*{
    margin:0;
    padding: 0;
    height: 100%;
        width: 100%;
        overflow: hidden;
}

.screen{
    background-color: #000B31;
    display: flex;
    justify-content: center;

}


.left_circle{
    position: absolute;
    z-index: 2;
    left: -490px;
    bottom: -220px;

   
}

.right_btm{
    position: absolute;
    z-index: 3;
    right: -435px;
    bottom: -145px;
}

.right_top{
    position: absolute;
    right: -336px;
    top: -220px;
}

.logo{
    position: absolute;
    justify-content: center;
    width: 481px;
    height: 317px;
    top: 13px;
}

.comp_name{
    position: absolute;
    justify-content: center;
    width: 394px;
    height: 104px;
    top: 265px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 95px;
    color: #FFFFFF;
    flex: none;
    order: 6;
    flex-grow: 0;
    z-index: 6;

}

.slogan{
    position: absolute;
    justify-content: center;
    width: 253px;
    height: 64px;
    top: 344px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 4;

}

.cms{
    position: absolute;
    width: 421px;
    height: 45px;
    justify-content: center;
    top: 463px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 145.4%;
    letter-spacing: 0.175em;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

   
}

.ftr{
    position: absolute;
    width: 584px;
    height: 64px;
    justify-content: center;
    top: 588px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FEFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.details{
    display: flex;
    font-family: 'Montserrat';
    color: white;
    position: absolute;
    top: 1px;
}

.email{
    position: absolute;
    left: 20px;
    font-size: 20px;
    color:#FBBE28;
    top: 15px;
}

.insta{
    
    position: absolute;
    color:#FBBE28;
    left: 20px;
    top: 43px;
}

@media (max-width: 480px) {
    .left_circle{
        position: absolute;
        z-index: 2;
        left: -490px;
        bottom: -220px;  
    }

    .logo{
        position: absolute;
        justify-content: center;
        width: 230px;
        height: 200px;
        top: 66px;

        animation-name: floating-logo;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes floating-logo {
        0%{
            transform: translate(0,0);
        }
        50%{
            transform: translate(0,-5px);
        }
        100%{
            transform: translate(0,0);
        }
        
    }

    .comp_name{
        position: absolute;
        justify-content: center;
        width: 394px;
        height: 30px;
        top: 242px;
        font-size: 100px;
        color: white;
    
    }

    .slogan{
        position: absolute;
        justify-content: center;
        width: 253px;
        height: 15px;
        top: 285px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
        /* color: #FBBE28; */
        flex: none;
        order: 4;
        flex-grow: 0;
        z-index: 4;
    }

    .cms{
        position: absolute;
        width: 421px;
        height: 19px;
        justify-content: center;
        top: 393px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 145.4%;
        letter-spacing: 0.175em;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        z-index: 1;
    }

    .ftr{
        position: absolute;
        width: 584px;
        height: 14px;
        justify-content: center;
        top: 530px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: #FEFFFF;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        z-index: 0;
    }

    .email{
        position: absolute;
        left: 20px;
        font-size: 140px;
        color: #FBBE28;
        top: 15px;
        font-size: 15px;
    }

    .left_circle{
        position: absolute;
        z-index: 2;
        left: -116px;
        bottom: -189px;
    }
    
    .right_btm{
        position: absolute;
        z-index: 3;
        right: -104px;
        bottom: -145px;
    }
    
    .right_top{
        position: absolute;
        right: -89px;
        top: -170px;
    }
}
